<div class="row">
  <div>
    <h2>Experiencia laboral</h2>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <ul>
      <li>
        <h4>Trabajo 1</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
          dolorum laudantium deserunt ipsa culpa necessitatibus, voluptatum
          neque consequatur quos exercitationem fugiat libero modi voluptate,
          cum quis placeat iste. Suscipit, delectus!
        </p>
      </li>
      <li>
        <h4>Trabajo 2</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
          dolorum laudantium deserunt ipsa culpa necessitatibus, voluptatum
          neque consequatur quos exercitationem fugiat libero modi voluptate,
          cum quis placeat iste. Suscipit, delectus!
        </p>
      </li>
      <li>
        <h4>Trabajo 3</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
          dolorum laudantium deserunt ipsa culpa necessitatibus, voluptatum
          neque consequatur quos exercitationem fugiat libero modi voluptate,
          cum quis placeat iste. Suscipit, delectus!
        </p>
      </li>
    </ul>
  </div>
  <div class="col-lg-1"></div>
</div>