img {
    width: 100%
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Base */
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  position: absolute;
  top: 200px;
  left: 3%;
  color: hsl(0, 0%, 0%);
  font-size: 60px;
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 2s steps(15) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

h2 {
    position: absolute;
    top: 350px;
    left: 3%;
    width: 100%;
    box-sizing: border-box;
    color: hsl(0, 0%, 25%);
    font-size: 48px;
    font-weight: bold;
    font-family: "Anonymous Pro", monospace;
    letter-spacing: 7px;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 2s steps(18) 3s 1 normal both,
      blinkTextCursor 500ms infinite;
    }

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 600px;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

/* PARA PANTALLAS MENORES A 913px DE ANCHO */
@media (max-width: 913px) {
  h1 {
    font-size: 40px;
    top: 250px;
  }

  h2 {
    font-size: 31px;
    top: 340px;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 435px;
    }
  }
}

/* PARA PANTALLAS MENORES A 500px DE ANCHO */
@media (max-width: 500px) {
  h1 {
    font-size: 26px;
    top: 230px;
  }

  h2 {
    font-size: 20px;
    top: 290px;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 320px;
    }
  }
}

/* PARA PANTALLAS MENORES A 345px DE ANCHO */
@media (max-width: 345px) {
  h1 {
    font-size: 18px;
    top: 280px;
  }

  h2 {
    font-size: 13px;
    top: 320px;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 255px;
    }
  }
}