<div class="row">
  <div class="col-lg-12">
    <h2>Educación</h2>
    <button type="button" class="btn btn-success" routerLink="/nuevaedu" *ngIf="isLogged" id="nuevaeducacion">
      <i class="bi bi-plus-square"></i> Nueva educación
    </button>
  </div>


  <div class="col-lg-4 col-md-6 col-sm-12 tarjetas">
    <div class="card border-light mb-3" style="max-width: 18rem;" *ngFor="let Educacion of educacion">
      <div class="card-header">
        {{Educacion.nombreE}}
      </div>
      <div class="card-body">
        <p class="card-text">{{Educacion.descripcionE}}</p>
      </div>
      <button class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged">
        <i class="bi bi-pencil-square"></i> Editar
      </button>
      <button class="btn btn-danger" (click)="delete(Educacion.id)" *ngIf="isLogged">
        <i class="bi bi-file-earmark-x"></i> Eliminar
      </button>
    </div>
  </div>
</div>

