<div class="row">
  <div>
    <h2>Educación</h2>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-success" routerLink="/nuevaedu" *ngIf="isLogged">
      <i class="bi bi-plus-square"></i> Nueva educación
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td><h3>{{Educacion.nombreE}}</h3></td>
          <td>{{Educacion.descripcionE}}</td>
          <td *ngIf="isLogged">
            <button class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-file-earmark-x"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- 

<div class="row">
  <div class="col-lg-12">
    <h2 id="educacion">Educación</h2>
  </div>
</div>
<div class="row tarjetas">
  <div class="col-lg-1"></div>
  <div class="card bg-light mb-3 col-lg-4">
    <div class="card-header">En Curso</div>
    <div class="card-body">
      <h5 class="card-title">Curso Argentina Programa</h5>
      <p class="card-text">
        El curso tiene como finalidad formar a sus miembros como desarrolladores Full Stack Jr.
        Se utilizan herramientas y lenguajes como: HTML, CSS, Bootstrap, Javascript, Typescript, Angular, Java, MySQL
      </p>
    </div>
  </div>
  <div class="col-lg-2"></div>
  <div class="card bg-light mb-3 col-lg-4">
    <div class="card-header">En Curso</div>
    <div class="card-body">
      <h5 class="card-title">Licenciatura en Ciencias de la Computación</h5>
      <p class="card-text">
        El Licenciado en Ciencias de la Computación es un graduado Universitario con sólida formación básica y una
        preparación técnica general que le permite comprender, adecuar, desarrollar y aplicar los elementos científicos
        y las tecnologías vinculadas con la Informática.
      </p>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>

-->
