.row {
    height: 100px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-arg-prog, #logo-ministerio {
    height: 80px;
}

#facebook, #instagram, #linkedin, #github, #email, #whatsapp {
    color: white;
    font-size: 50px;
    margin-inline: 5px;
    line-height: 50px;
    transition: color 0.2s;
}

#facebook:hover, 
#instagram:hover,
#linkedin:hover,
#github:hover,
#email:hover,
#whatsapp:hover {
    color: rgb(210, 210, 210);
}

.btn {
    align-items: center;
    text-align: center;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: -25px;
}


/* PARA PANTALLAS DE MAX 913px DE ANCHO */
@media (max-width: 913px) {
    .row {
        display: flex;
        align-items: center;
        height: 200px;
    }
    
    .container {
        display: inline-block;
        text-align: center;
    }
}

/* PARA PANTALLAS DE MAX 516px DE ANCHO */
@media (max-width: 516px) {
    #logo-ministerio, #logo-arg-prog {
        height: 65px;
    }

    #boton-login {
        margin-top: 0.5em;
    }
}

/* PARA PANTALLAS DE MAX 464px DE ANCHO */
@media (max-width: 464px) {
    .btn {
        margin-top: 0.5em;
    }
}

/* PARA PANTALLAS DE MAX 383px DE ANCHO */
@media (max-width: 383px) {
    #facebook, 
    #instagram,
    #linkedin,
    #github,
    #email,
    #whatsapp {
        font-size: 40px;
    }
}

/* PARA PANTALLAS DE MAX 345px DE ANCHO */
@media (max-width: 345px) {
    .row {
        height: 250px;
    }
}

/* PARA PANTALLAS DE MAX 323px DE ANCHO */
@media (max-width: 323px) {

    #facebook, 
    #instagram,
    #linkedin,
    #github,
    #email,
    #whatsapp {
        font-size: 32px;
    }
}


/*
.row {
    height: 100px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#logo-arg-prog, #logo-ministerio {
    height: 80px;
}

#facebook, #instagram, #linkedin, #github, #email, #whatsapp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline: 5px;
}

.btn {
    margin-right: 10px;
    margin-left: 5px;
}


PARA PANTALLAS DE MAX 913px DE ANCHO
@media (max-width: 913px) {
    .row {
        display: flex;
        align-items: center;
        height: 200px;
    }
    
    .container {
        display: inline-block;
        text-align: center;
    }
}

PARA PANTALLAS DE MAX 516px DE ANCHO
@media (max-width: 516px) {
    .btn {
        margin-top: 0.5em;
    }

    #logo-ministerio, #logo-arg-prog {
        height: 65px;
    }
}

PARA PANTALLAS DE MAX 321px DE ANCHO
@media (max-width: 362px) {
    .row {
        height: 250px;
    }
}

PARA PANTALLAS DE MAX 280px DE ANCHO
@media (max-width: 280px) {
    .row {
        height: 300px;
    }
}

*/