<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/logo-arg-prog.png" id="logo-arg-prog" />
      <img src="../../../assets/logo-inti-ministerio.png" id="logo-ministerio" />
    </div>
    <div class="redes">
      <a href=""><i class="bi bi-whatsapp" id="whatsapp"></i></a>
      <a href=""><i class="bi bi-envelope" id="email"></i></a>
      <a href=""><i class="bi bi-github" id="github"></i></a>
      <a href=""><i class="bi bi-linkedin" id="linkedin"></i></a>
      <a href=""><i class="bi bi-instagram" id="instagram"></i></a>
      <a href=""><i class="bi bi-facebook" id="facebook"></i></a>
        <button type="button" class="btn btn-light" id="boton-cerrar" (click)="login()" *ngIf="!isLogged">Login</button>
        <button type="button" class="btn btn-light" id="boton-login" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
    </div>
  </div>
</div>

<!------
    <div class="row">
    <div class="container">
        <div class="col-sm-12 col-md-12">
            <img src="../../../assets/logo-arg-prog.png" id="logo-arg-prog">
            <img src="../../../assets/logo-inti-ministerio.png" id="logo-ministerio">
        </div>
        <div class="col-sm-12 col-md-12">
            <button type="button" class="btn btn-light">Login</button>
            <a href=""><img src="../../../assets/logo-whatsapp.png" id="whatsapp"></a>
            <a href=""><img src="../../../assets/logo-email.png" id="email"></a>
            <a href=""><img src="../../../assets/logo-github.png" id="github"></a>
            <a href=""><img src="../../../assets/logo-linkedin.png" id="linkedin"></a>
            <a href=""><img src="../../../assets/logo-instagram.png" id="instagram"></a>
            <a href=""><img src="../../../assets/logo-fb.png" id="facebook"></a>
        </div>
    </div>
</div>
    ------->
