<div class="row">
  <div>
    <h2>Experiencia laboral</h2>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged">
      Nueva experiencia
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of exp">
          <td><h3>{{Experiencia.nombreE}}</h3></td>
          <td>{{Experiencia.descripcionE}}</td>
          <td>Editar</td>
          <td>Eliminar</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!---------------------------
  
<div class="row">
  <div>
    <h2>Experiencia laboral</h2>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <ul>
      <li>
        <h4>Trabajo 1</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
          dolorum laudantium deserunt ipsa culpa necessitatibus, voluptatum
          neque consequatur quos exercitationem fugiat libero modi voluptate,
          cum quis placeat iste. Suscipit, delectus!
        </p>
      </li>
      <li>
        <h4>Trabajo 2</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
          dolorum laudantium deserunt ipsa culpa necessitatibus, voluptatum
          neque consequatur quos exercitationem fugiat libero modi voluptate,
          cum quis placeat iste. Suscipit, delectus!
        </p>
      </li>
      <li>
        <h4>Trabajo 3</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
          dolorum laudantium deserunt ipsa culpa necessitatibus, voluptatum
          neque consequatur quos exercitationem fugiat libero modi voluptate,
          cum quis placeat iste. Suscipit, delectus!
        </p>
      </li>
    </ul>
  </div>
  <div class="col-lg-1"></div>
</div>
  
  ------------------------------------->
