* {
    margin: auto;
}

/* Clase row */
.row {
    padding: 5%;
}

/* Etiquetas div */
div {
    background-color: #98b9ee;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
}

/* Etiqueta foto*/
img {
    border-radius: 50%;
}

/* Etiqueta nombre */
#nombre {
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
}

/* Etiqueta nombre */
#subtitulo-nombre {
    margin-left: 5%;
    margin-right: 5%;
}


/* Etiqueta acerca de mi (título) */
#acercademi-titulo {
    font-weight: bold;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

/* Etiqueta acerca de mi (párrafo) */
#acercademi-parrafo {
    margin-left: 5%;
    margin-right: 5%;
}

button {
    width: 200px;
}