<div class="row">
  <div class="col-md-4">
    <img src="../../../assets/foto.jpeg" class="img-fluid" />
  </div>
  <div class="col-md-8">
    <div class="pb-3">
      <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
      <p id="subtitulo-nombre">Full Stack Developer Jr.</p>
    </div>
    <div class="row">
      <span>
        <h3 id="acercademi-titulo">Acerca de mí</h3>
        <p id="acercademi-parrafo">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At nobis
          enim, magni quidem omnis labore perspiciatis aut facilis amet dolor ad
          laborum tenetur dolore. Quae repellendus beatae delectus corrupti
          voluptate?
        </p>
      </span>
    </div>
  </div>
</div>


<!-- =================================================================
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/foto.jpeg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2 id="nombre">Elias Bussanich</h2>
        <p id="subtitulo-nombre">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span>
            <h3 id="acercademi-titulo">Acerca de mí</h3>
            <p id="acercademi-parrafo">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                At nobis enim, magni quidem omnis labore perspiciatis aut facilis amet dolor ad laborum tenetur dolore. 
                Quae repellendus beatae delectus corrupti voluptate?
            </p>
        </span>
    </div>
</div>
-->
