<div>
  <button type="button" class="btn btn-primary" routerLink="/editacercademi/1" *ngIf="isLogged">
    <i class="bi bi-pencil-square"></i> Editar persona
  </button>
</div>

<div class="row" *ngIf="persona">

  <div class="col-md-4">
    <img src="{{persona.img}}" class="img-fluid" />
  </div>

  <div class="col-md-8">
    <div class="pb-3">
      <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
      <p id="subtitulo-nombre">Full Stack Developer Jr.</p>
    </div>
    <div class="row">
      <span>
        <h3 id="acercademi-titulo">Acerca de mí</h3>
        <p id="acercademi-desc">
          {{persona.descripcion}}
        </p>
      </span>
    </div>
  </div>
</div>