<div class="row">
  <div class="col-lg-12">
    <h2>Proyectos</h2>
    <button type="button" class="btn btn-success" routerLink="/nuevoproyecto" *ngIf="isLogged" id="nuevoproyecto">
      <i class="bi bi-plus-square"></i> Nuevo proyecto
    </button>
  </div>


  <div class="col-lg-4 col-md-6 col-sm-12 tarjetas">
    <div class="card border-light mb-3" style="max-width: 18rem;" *ngFor="let Proyectos of proyecto">
      <div class="card-header">
        <a href="{{Proyectos.url}}" target="_BLANK">
          {{Proyectos.nombre}}
        </a>
      </div>
      <div class="card-body">
        <p class="card-text">{{Proyectos.descripcion}}</p>
      </div>
      <button class="btn btn-primary" routerLink="/editproyecto/{{Proyectos.id}}" *ngIf="isLogged">
        <i class="bi bi-pencil-square"></i> Editar
      </button>
      <button class="btn btn-danger" (click)="delete(Proyectos.id)" *ngIf="isLogged">
        <i class="bi bi-file-earmark-x"></i> Eliminar
      </button>
    </div>
  </div>
</div>
