div {
    font-family: 'Montserrat';
}

.row {
    background-color: #98b9ee;
    padding: 20px;
    margin: auto;
}

.circulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: bold;
    font-size: 40px;
}