div {
    font-family: 'Montserrat';
}

.row {
    background-color: #98b9ee;
    padding: 10%;
    margin: auto;
}

.circulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
}

#nuevoskill {
    margin-left: 10px;
}