<div class="div-redes">
    <a href=""><img src="../../../assets/logo-fb.png" id="facebook"></a>
    <a href=""><img src="../../../assets/logo-instagram.png" id="instagram"></a>
    <a href=""><img src="../../../assets/logo-linkedin.png" id="linkedin"></a>
    <a href=""><img src="../../../assets/logo-github.png" id="github"></a>
    <a href=""><img src="../../../assets/logo-email.png" id="github"></a>
    <a href=""><img src="../../../assets/logo-whatsapp.png" id="github"></a>
</div>

<!-- <div>
    <a href=""><img src="../../../assets/logo-fb.png" id="facebook"></a>
    <a 
    class="btn btn-primary btn-lg btn-floating"
    style="background-color: #ac2bac;"
    href=""
    role="button">
        <img src="../../../assets/logo-instagram.png" id="instagram">
    </a>
    <a href=""><img src="../../../assets/logo-linkedin.png" id="linkedin"></a>
    <a href=""><img src="../../../assets/logo-github.png" id="github"></a>
</div>

-->
