/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

.Montserrat {
    font-family: Montserrat;
}

.MontserratBold {
    font-family: MontserratBold;
}