<div class="Erow">
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <img src="../../../assets/foto.jpeg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-4">
        <p>Elias Bussanich</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-6">
        <span>
            <h1>Acerca de mí</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                At nobis enim, magni quidem omnis labore perspiciatis aut facilis amet dolor ad laborum tenetur dolore. 
                Quae repellendus beatae delectus corrupti voluptate?
            </p>
        </span>
    </div>
</div>